
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
 text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0   ;
}

img {
    display: block;
}

.header-menu-item-link:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.address{
    font-style: normal;
}

.address-list-item{
    font-style: normal;
}



.address-list-item-link:hover {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #404bbf;
        font-style: normal;
}

.address-list-item-link:focus{
            font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.02em;
                color: #404bbf;
                font-style: normal;
}

.header{
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0
}

.header-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;

}

.header-logo-web {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}

.header-menu-item-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
padding: 24px 0;
}

.header-menu-item-link:focus{
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #404bbf;
}

.address-list-item-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
}

.hero-title {

        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto 48px;
}

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}

.hero-button{
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff; 
    cursor: pointer;
    min-width: 169px;
    min-height: 56px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    display: block;
}

.hero-button:hover {
    background: #404bbf;
    cursor: pointer;
}

.hero-button:focus{
    background: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feautures-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42; 
margin-bottom: 8px;
}

.feautures-description {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em; 
}

.team-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.team-list{
    display: flex;
    gap: 24px   ;
}

.team-section{
    background-color: #f4f4fd;
}

.worker{
    padding: 32px 0;
}

.worker-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-top: 32px;
    margin-bottom: 8px;
}

.worker-job{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 32px;
}

.team-card {
            background: #fff;
            border-radius: 0px 0px 4px 4px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px   ;
}

.portfolio-list-item{
    flex-basis: calc((100% - 3 * 24) / 4);

}

.portfolio-list-item-image{
    margin: 0 auto;
    display: block;
}

.portfolio-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        
        margin-bottom: 72px;
}

.appendix{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle{
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-top: 32px;
        margin-bottom: 8px;
}


.portfolio-discription{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
}

.footer-hero{
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-link{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-bottom: 16px;
        display: inline-block;
}

.footer-web{
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    
}

.footer-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.navigation{
    display: flex;
    align-items: center;
}

.header-menu-list{
    display: flex;
    align-items: center;
    gap: 40px   ;
}

.address-list{
    display: flex;
   margin-left: auto;
   gap: 40px    ;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feautures-list{
    display: flex;
    gap: 24px   ;
}

.feautures-list-item{
max-width: 264px;
}